.home-back {
  background-image: url("/homepage-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  border: none;
}

.new-adjust {
  padding-top: 0;
}

.icon-adjust {
  margin-top: 25px;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.home {
  padding-top: 20px;
  margin-top: 30px;
  color: #fff;
  transition: transform 0.5s ease-in-out;
}
.slider {
  position: relative;
  z-index: 100;
  width: 100%;
  color: #fff;
}
.home h1 {
  font-size: 3.5rem;
  line-height: 1;
  padding-bottom: -20px;
  margin-bottom: 50px;
  font-weight: lighter;
}
.home p {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-bottom: 10px;
  /* padding-left: 15px; */
  width: 300px;
}

.marquee-container {
  position: absolute;
  left: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.marquee {
  width: 100%;
  padding: 10px;
  background-color: #ffffffd7;
  margin-top: 70px;
  color: #222831;
  font-size: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

/* Portrait Responsive Styling */
@media (max-width: 600px) {
  .marquee-container {
    width: 100vw;
    left: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .marquee {
    padding: 10px;
    margin-top: 140px;
    background-color: #ffffffd7;
    color: #222831;
    font-size: 1.2rem;
    box-sizing: border-box;
  }

  .dark-overlay {
    padding: 10px;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .home {
    margin-top: 90px;
    color: #fff;
    transition: transform 0.5s ease-in-out;
  }
  .home p {
    padding-bottom: 20px;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    margin-top: -25px;
  }
  .home h1 {
    line-height: 45px;
    font-size: 3.2em;
    font-weight: lighter;
  }
  /* .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105.2%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  } */
}

@media (min-width: 750px) and (max-width: 900px) {
  .slider {
    margin-left: 20px;
  }
  .home {
    margin-top: 5px;
    padding-top: 10px;
  }
  .home h1 {
    font-size: 2.3rem;
    line-height: 1;
    padding-bottom: -20px;
    margin-bottom: 5px;
    font-weight: lighter;
  }
  .home p {
    font-size: 1.2rem;
    font-weight: lighter;
    padding-bottom: 1px;
    width: 250px;
  }
  .marquee {
    width: 100%;
    padding: 5px;
    background-color: #ffffffd7;
    margin-top: 20px;
    color: #222831;
    font-size: 1rem;
    box-sizing: border-box;
    overflow: hidden;
  }
  button.btn-home {
    font-size: 15px;
    width: 110px;
    height: 30px;
  }
}
