body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0;
  color: #222831;
  /* padding: 0px 80px; */
}

.homefooter-wrapper {
  padding: 50px 110px 5px 110px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: #222831;
  color: #fff;
  /* margin-top: 50px; */
}

.homefooter-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.homefooter-info1 {
  width: 400px;
}
.homefooter-info1 h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}
.homefooter-info1 a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}
.homefooter-info1 a:hover {
  font-weight: lighter;
  cursor: pointer;
  color: #ff1c1c;
}
.homefooter-info {
  width: 400px;
}
.homefooter-info h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}
.homefooter-info p {
  font-weight: lighter;
}
.homefooter-icons {
  padding-top: 10px;
}
span .icon-homefooter {
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  fill: #222831;
}
span .icon-homefooter:hover {
  fill: #ff1c1c;
}
.homefooter-bottom {
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
  color: #535353;
}

/* Portrait/Mobile View */
@media (max-width: 600px) {
  .homefooter-wrapper {
    padding: 20px 20px 15px 20px;
    /* margin-top: 50px; */
  }
  .homefooter-top {
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .homefooter-info1 {
    width: 100%;
    margin-bottom: 20px;
  }
  .homefooter-info1 h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: -2px;
  }
  .homefooter-info1 p {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: -10px;
  }
  .homefooter-info {
    width: 100%;
    margin-bottom: 20px;
  }
  .homefooter-info h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: -2px;
  }
  .homefooter-icons {
    padding-top: 30px;
  }
  span .icon-homefooter {
    margin-bottom: -20px;
  }
  .homefooter-info p {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: -10px;
  }
  .homefooter-bottom {
    margin-top: 15px;
    font-size: 10px;
    margin-bottom: 3px;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .homefooter-wrapper {
    padding: 20px 20px 15px 20px;
  }
  .homefooter-info1 {
    width: 100%;
  }
  .homefooter-icons {
    margin-top: -15px;
  }
  .homefooter-info {
    width: 100%;
  }
}
