body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0;
  color: #000;
  /* padding: 0px 80px; */
}
.table-wrapper {
  justify-content: space-between;
  align-items: left;
  text-align: left;
  padding: 30px 110px 30px 110px;
  font-family: "Lilita One", sans-serif;
  background-color: #fff;
  color: #000;
  height: 500px;
  margin-bottom: 20px;
}
.table-wrapper h1 {
  font-size: 2.5rem;
  font-weight: lighter;
}
.table-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}
.table-input input {
  height: 10px;
  padding: 20px;
  padding-left: 10px;
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: lighter;
  border-radius: 5px;
  border-width: 1px;
  color: #222831;
  border-color: #a0a0a0;
}
.table-input select {
  height: 50px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  border-radius: 5px;
  border-width: 1px;
  color: #222831b0;
  background-color: #fff;
  border-color: #a0a0a0;
}
.table-btn {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

/* Portrait/Mobile View */
@media (max-width: 600px) {
  .table-wrapper {
    padding: 10px 20px 15px 20px;
    margin-bottom: -5px;
  }
  .table-wrapper h1 {
    margin-top: 20px;
  }
  input .date {
    width: 100%;
    height: 100px;
  }
  .table-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .table-input select {
    padding-left: -5px;
  }
}

/* Landscape and iPad View */
@media (min-width: 600px) and (max-width: 900px) {
  .table-wrapper {
    padding: 20px 40px 15px 40px;
  }
  .table-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
