/* src/ */
/* ├── components/
  │   ├── Navbar.jsx
  │   ├── Footer.jsx
  │   ├── Menu.jsx
  │   └── ContactForm.jsx
  ├── pages/
  │   ├── Home.jsx
  │   ├── About.jsx
  │   ├── Menu.jsx
  │   └── Contact.jsx
  ├── App.jsx
  └── index.jsx */

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  font-family: "Lilita One", sans-serif;
  font-weight: lighter;
}
body {
  font-family: "Lilita One", sans-serif;
  color: #0c0c0c;
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-weight: lighter;
}

/* Style the container of the dots */
.slick-dots {
  bottom: 10px; /* Position the dots container */
  top: 110%;
  left: -45%; /* Position the dots container from the left */
  right: auto; /* Remove default right alignment */
  position: absolute; /* Ensure proper positioning */
}

/* Style the dots themselves */
.slick-dots li button:before {
  font-size: 15px; /* Size of the dot */
  color: #fff; /* Color of the dot */
  opacity: 50; /* Default opacity */
}

/* Style for the active dot */
.slick-dots li.slick-active button:before {
  color: #ff1c1c; /* Color of the active dot */
  opacity: 1; /* Full opacity for active dot */
  font-size: 25px;
}

/* Optional: Style for hover effect */
.slick-dots li button:hover:before {
  color: #fff; /* Change color on hover */
}

/* Style the previous arrow (left) */
.slick-prev {
  position: absolute;
  left: -7%;
  top: 45%;
  z-index: 1000;
}

/* Style the next arrow (right) */
.slick-next {
  position: absolute;
  right: -5%;
  top: 45%;
  z-index: 1000;
}

/* Adjust vertical alignment */
.slick-prev,
.slick-next {
  /* top: 50%; Center vertically */
  transform: translateY(-50%);
}

/* Adjust size and appearance of arrows */
.slick-prev::before,
.slick-next::before {
  width: 100vw;
  font-size: 40px;
  color: var(#fff);
  border-radius: 50%;
  background-color: #222831;
}

/* Loading Bar */
.load-slide {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.load-bar {
  height: 100%;
  background-color: #ff1c1c;
  width: 0%;
  animation: load-bar 2s ease-out forwards;
}

@keyframes load-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .slick-dots {
    padding: 0px 30px 0px 30px;
    margin-top: 20px;
    top: 130%;
  }

  .slick-next {
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 1000;
  }

  .slick-prev {
    position: absolute;
    left: -1%;
    top: 50%;
    z-index: 1000;
  }

  .load-slide {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* For Tablet Portrait */
@media (min-width: 600px) and (max-width: 900px) {
  .slick-dots {
    padding-left: 20px;
  }
}
@media (min-width: 750px) and (max-width: 900px) {
  .slick-dots {
    padding-left: 20px;
    margin-top: -15px;
  }

  .slick-next {
    position: absolute;
    right: 5%;
    top: 62%;
    z-index: 1000;
  }

  .slick-prev {
    position: absolute;
    left: 3%;
    top: 62%;
    z-index: 1000;
  }
}
